<?xml version="1.0"?>

<model>
  <name>2gal_pot</name>
  <version>1.0</version>
  <sdf version="1.4">model-1_4.sdf</sdf>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Ibrahim Helal</name>
    <email>ihelal@sfu.ca</email>
  </author>

  <description>
    AIS 2gal Plant Pot 
  </description>
</model>
